<div class="container">
    <div class="row">
        <nav-component></nav-component>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Часы</h3>
            <select size="20" id="name" class="form-control" [(ngModel)]="selectedHourSettingsId" (change)="changeHourSettings($event)">
                <ng-container *ngFor="let s of defaultHourSettings">
                    <option class="worker_item" [value]="s?.id">
                        {{s?.name}}
                    </option>
                </ng-container>
            </select>
            <div class="form-group">
                <button class="btn btn-primary new_user_btn" (click)="createNewHourSettings()">Создать час</button>
            </div>

        </div>

        <div class="col-sm-8 user_info">
            <div class="form-group">
                <label>Час</label>
                <input class="form-control" [(ngModel)]="selectedHourSettings.name" [disabled]="this.isDisableSettings" required />
            </div>

            <div class="form-group">
                <label>Минимальное количество слотов</label>
                <input class="form-control" [(ngModel)]="selectedHourSettings.minCount" [disabled]="this.isDisableSettings" required />
            </div>

            <div class="form-group">
                <label>Максимальное количество слотов</label>
                <input class="form-control" [(ngModel)]="selectedHourSettings.maxCount" [disabled]="this.isDisableSettings" required />
            </div>

            <div class="form-group">
                <button class="btn btn-success first_btn_in_line" (click)="saveHoursettings()" [disabled]="this.isDisableSettings">Сохранить</button>
                <button class="btn btn-danger" (click)="deleteHourSettings()" [disabled]="this.isDisableSettings">Удалить</button>
            </div>

        </div>
    </div>






</div>