<div class="container">
    <div class="row">
        <nav-component></nav-component>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Сотрудники техподдержки</h3>
            <select size="20" id="name" class="form-control" [(ngModel)]="selectedWorkerId" (change)="changeStaff($event)">
                <ng-container *ngFor="let w of workers">
                    <option class="worker_item" [value]="w?.id">
                        {{w?.name}}
                    </option>
                </ng-container>
            </select>
            <div class="form-group">
                <button class="btn btn-primary new_user_btn" (click)="createNewWorker()">Создать пользователя</button>
            </div>
            
        </div>

        <div class="col-sm-8 user_info">

            <div class="form-group">
                <label>Имя</label>
                <input class="form-control" name="name" [(ngModel)]="currentWorker.name" #workerName="ngModel" [disabled]="this.isDisableSettings" required />
            </div>
            <div class="container worker_settings">
                <div class="row">
                    <div class="form-group col">
                        <label for="group">Группа</label>
                        <select id="group" class="form-control" [disabled]="this.isDisableSettings" [(ngModel)]="currentWorker.idGroup" #workerGroup="ngModel" required>
                            <option *ngFor="let g of groups" [value]="g.id">
                                {{g.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="color">Цвет</label>
                        <input class="form-control" [disabled]="this.isDisableSettings" id="color" [(ngModel)]="currentWorker.color" [style.background]="currentWorker.color" [(colorPicker)]="currentWorker.color" (colorPickerChange)="onColorPickerSelected($event)" required />
                    </div>
                </div>
            </div>

            <div class="container worker_settings">
                <div class="row">
                    <div class="form-group col">
                        <label for="desirable_slots">Желаемые часы</label>
                        <multiselect [placeholder]="'Желательные часы'"
                                     [dropdownList]="dropdownList"
                                     [selectedHours]="selectedDesirableSlots"
                                     [isDisable]="isDisableSettings"
                                     (onChanged)="updateDesirableSlots($event)">
                        </multiselect>
                    </div>



                    <div class="form-group col">
                        <label for="unwanted_slots">Нежелательные часы</label>
                        <multiselect [placeholder]="'Нежелательные часы'"
                                     [dropdownList]="dropdownList"
                                     [selectedHours]="selectedUnwantedSlots"
                                     [isDisable]="isDisableSettings"
                                     (onChanged)="updateUnwantedSlots($event)">

                        </multiselect>

                    </div>
                </div>
            </div>
            <label>Период отсутствия</label>

            <ng-container *ngFor="let period of absentPeriods">
                <div class="form-group col">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                {{period.start}}
                            </div>
                            <div class="col-sm">
                                {{period.end}}
                            </div>
                            <div class="col-sm">
                                <input type="button" class="del_period_btn" (click)="deleteAbsencePeriod(period)" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>


            <div class="form-group">
                <ngbd-datepicker-range-popup (onChanged)="showDate($event)" [from]="fromDate"></ngbd-datepicker-range-popup>
                <button class="btn btn-primary absent_period_btn" (click)="addAbsencePeriod()" [disabled]="this.isDisableSettings">Добавить период отсутствия</button>
            </div>
            <div class="form-group">
                <button class="btn btn-success first_btn_in_line" (click)="saveWorker()" [disabled]="this.isDisableSettings">Сохранить</button>
                <button class="btn btn-danger" (click)="deleteWorker(this.currentWorker.id)" [disabled]="this.isDisableSettings">Удалить</button>
            </div>
            <ngbd-modal-stacked></ngbd-modal-stacked>
        </div>
    </div>




</div>
