<div class="container">
    <div class="row">
        <nav-component></nav-component>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <ngbd-datepicker class="datapicker" (onChanged)="dateChangeHandler($event)"></ngbd-datepicker>
            </div>
            <div class="row">
                <form>
                    <ngbd-tabset [timeArr]="timeArr"
                                 [selectedHour]="selectedHour"
                                 [activeIdString]="activeIdString"
                                 (onChanged)="tabChangeHandler($event)"
                                 (onMinSlotChanged)="minSlotChangeHandler($event)"
                                 (onMaxSlotChanged)="maxSlotChangeHandler($event)">
                    </ngbd-tabset>
                </form>
            </div>

            <hr />
            <div class="row">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <select id="name" class="form-control" [(ngModel)]="selectedWorkerId" (change)="changeStaff($event)">
                        <ng-container *ngFor="let g of groups">
                            <optgroup label={{g.name}}>
                                <ng-container *ngFor="let w of workers">
                                    <option *ngIf="w?.idGroup == g.id" [value]="w?.id">
                                        {{w?.name}}
                                    </option>
                                </ng-container>
                            </optgroup>
                        </ng-container>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="desirable_slots">Желаемые часы</label>
                    <multiselect [placeholder]="'Желательные часы'" [isDisable]="isDisableSettings" (onChanged)="updateUnwantedSlots($event)"></multiselect>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="unwanted_slots">Нежелательные часы</label>
                    <multiselect [placeholder]="'Нежелательные часы'" [isDisable]="isDisableSettings" (onChanged)="addUnwantedSlots($event)"></multiselect>

                </div>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="duty" [(ngModel)]="workerInDay.isDuty" (change)="saveWorker()" [disabled]="this.isDisableSettings">
                <label class="form-check-label" for="duty">
                    Сменник
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="duty_wedn" [(ngModel)]="workerInDay.isDutyOnWedn" [disabled]="this.isDisableSettings"
                       (change)="saveWorker()">
                <label class="form-check-label" for="duty_wedn">
                    Дежурный по планеркам
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="duty_letter" [(ngModel)]="workerInDay.isDutyOnLetters" [disabled]="this.isDisableSettings"
                       (change)="saveWorker()">
                <label class="form-check-label" for="duty_letter">
                    Дежурный по письмам
                </label>
            </div>
        </div>

        <div class="col-sm-9">
            <h1>График дежурств на {{day}}.{{month}} </h1>
            <p>
                <b>Сменный дежурный: </b>
                <ng-container *ngFor="let w of workers">
                    <div class="worker_info_item" *ngIf="w?.isDuty">
                        {{w?.name}}; &nbsp;
                    </div>
                </ng-container>
            </p>
            <p>
                <b>Дежурные на письмах: </b>
                <ng-container *ngFor="let w of workers">
                    <div class="worker_info_item" *ngIf="w?.isDutyOnLetters">
                        {{w?.name}}; &nbsp;
                    </div>
                </ng-container>
            </p>
            <p>
                <b>Дежурный по планеркам: </b>
                <ng-container *ngFor="let w of workers">
                    <div class="worker_info_item" *ngIf="w?.isDutyOnWedn">
                        {{w?.name}}; &nbsp;
                    </div>
                </ng-container>
            </p>
            <p>
                <b>Отсутствующие сотрудники:</b>
                <ng-container *ngFor="let worker of absentWorkers">
                    {{worker?.name}}; &nbsp;
                </ng-container>
            </p>
            <p>
                <b>Свободные сотрудники:</b>
                <ng-container *ngFor="let freeSlots of countFreeSlotsForWorker">
                    {{freeSlots?.name}} &nbsp; - &nbsp; {{freeSlots?.countFreeSlots}}; &nbsp;
                </ng-container>
            </p>

            <div class="form-group">
                <button class="btn btn-primary first_btn_in_line" (click)="generateGraph(selectedHour.date)">Сформировать график</button>
                <button class="btn btn-outline-primary" (click)="exportGraph()">Экспортировать график</button>
            </div>
            <chart [slots]="slots" [selectedDateHours]="selectedDateHours" [workers]="workers"></chart>
        </div>
       
    </div>