
<ng-multiselect-dropdown id="desirable_slots" 
                         [placeholder]="placeholder"
                         [data]="dropdownList"
                         [(ngModel)]="selectedHours"
                         [settings]="dropdownSettings"
                         (onSelect)="onItemSelect($event)"
                         (onSelectAll)="onSelectAll($event)"
                         (onDeSelect)="onItemDeSelect($event)"
                         (onDeSelectAll)="onDeSelectAll($event)"
                         [disabled]="isDisable">
</ng-multiselect-dropdown>