<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Сотрудники техподдержки</h3>
            <select size="20" id="name" class="form-control" [(ngModel)]="selectedWorkerId" (change)="changeStaff($event)">
                <ng-container *ngFor="let w of workers">
                    <option class="worker_item" [value]="w?.id">
                        {{w?.name}}
                    </option>
                </ng-container>
            </select>
            <div class="form-group">
                <button class="btn btn-default" (click)="createNewWorker()">Создать пользователя</button>
            </div>
            <p><a routerLink="/" class="nav-link btn">Формирование графика</a></p>
        </div>

        <div class="col-sm-8">

            <div class="form-group">
                <label>Имя</label>
                <input class="form-control" name="name" [(ngModel)]="currentWorker.name" #workerName="ngModel" [disabled]="this.isDisableSettings" required />
            </div>
            <div class="form-group">
                <label for="group">Группа</label>
                <select id="group" class="form-control" [disabled]="this.isDisableSettings" [(ngModel)]="currentWorker.idGroup" #workerGroup="ngModel">>
                    <option *ngFor="let g of groups" [value]="g.id">
                        {{g.name}}
                    </option>
                </select>

            </div>
            <div class="row">
                <div class="form-group">
                    <label for="desirable_slots">Желаемые часы</label>
                    <multiselect [placeholder]="'Желательные часы'" [isDisable]="isDisableSettings"></multiselect>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="unwanted_slots">Нежелательные часы</label>
                    <multiselect [placeholder]="'Нежелательные часы'" [isDisable]="isDisableSettings"></multiselect>

                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-default" (click)="saveWorker()">Добавить</button>
            </div>

            
        </div>
    </div>


            
               
</div>
