<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <ngbd-datepicker (onChanged)="dateChangeHandler($event)"></ngbd-datepicker>
            </div>
            <div class="row">
                <form>
                    <ngbd-tabset [timeArr]="timeArr"
                                 [selectedHour]="selectedHour"
                                 [activeIdString]="activeIdString"
                                 (onChanged)="tabChangeHandler($event)"
                                 (onMinSlotChanged)="minSlotChangeHandler($event)"
                                 (onMaxSlotChanged)="maxSlotChangeHandler($event)">
                    </ngbd-tabset>
                </form>
            </div>

            <hr />
            <div class="row">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <select id="name" class="form-control" [(ngModel)]="selectedWorkerId" (change)="changeStaff($event)">
                        <optgroup label="Группа поддержки VIP">
                            <ng-container *ngFor="let w of workers">
                                <option *ngIf="w?.idGroup == 1" [value]="w?.id">
                                    {{w?.name}}
                                </option>
                            </ng-container>
                        </optgroup>
                        <optgroup label="Группа запуска">
                            <ng-container *ngFor="let w of workers">
                                <option *ngIf="w?.idGroup == 2" [value]="w?.id">
                                    {{w?.name}}
                                </option>
                            </ng-container>
                        </optgroup>
                        <optgroup label="Группа поддержки">
                            <ng-container *ngFor="let w of workers">
                                <option *ngIf="w?.idGroup == 3" [value]="w?.id">
                                    {{w?.name}}
                                </option>
                            </ng-container>
                        </optgroup>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="desirable_slots">Желаемые часы</label>
                    <multiselect [placeholder]="'Желательные часы'" [isDisable]="isDisableSettings"></multiselect>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="unwanted_slots">Нежелательные часы</label>
                    <multiselect [placeholder]="'Нежелательные часы'" [isDisable]="isDisableSettings"></multiselect>

                </div>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="duty" [(ngModel)]="worker.isDuty" (change)="save()" [disabled]="this.isDisableSettings">
                <label class="form-check-label" for="duty">
                    Дежурный
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="duty_wedn" [(ngModel)]="worker.isDutyOnWedn" [disabled]="this.isDisableSettings"
                       (change)="save()">
                <label class="form-check-label" for="duty_wedn">
                    Дежурный по средам
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="duty_letter" [(ngModel)]="worker.isDutyOnLetters" [disabled]="this.isDisableSettings"
                       (change)="save()">
                <label class="form-check-label" for="duty_letter">
                    Дежурный по письмам
                </label>
            </div>
            <p><a routerLink="editUser" class="nav-link">К списку пользователей</a></p>
        </div>

        <div class="col-sm-9">
            <h1>График дежурств на {{day}}.{{month}} </h1>
            <p>
                <b>Дежурный: </b>
                <ng-container *ngFor="let w of workers">
                    <div class="worker_info_item" *ngIf="w?.isDuty">
                        {{w?.name}},&nbsp;
                    </div>
                </ng-container>
            </p>
            <p>
                <b>Дежурные на письмах: </b>
                <ng-container *ngFor="let w of workers">
                    <div class="worker_info_item" *ngIf="w?.isDutyOnLetters">
                        {{w?.name}}; &nbsp;
                    </div>
                </ng-container>
            </p>
            <p>
                <b>Дежурный в среду: </b>
                <ng-container *ngFor="let w of workers">
                    <div class="worker_info_item" *ngIf="w?.isDutyOnWedn">
                        {{w?.name}}; &nbsp;
                    </div>
                </ng-container>
            </p>
            <div class="form-group">
                <button class="btn btn-default" (click)="generateGraph(newHour.date)">Сформировать график</button>
            </div>
            <duty-chart [slots]="slots" [selectedDateHours]="selectedDateHours" [workers]="workers"></duty-chart>
        </div>
    </div>
</div>