<ngb-tabset [justify]="justified" type="pills" (tabChange)="onChange($event)">
<ngb-tab class="tab_time" *ngFor="let time of timeArr" [id] = 'time' [title]="time">
    <ng-template ngbTabContent>
        <div class="container">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="min_slot" class="count_slot_label">Минимальное количество слотов</label>
                    <select class="form-control" name="min_slot"
                            [(ngModel)]="minSlotsCount" #minSlots="ngModel" (ngModelChange)="onMinSlotChange($event)">
                        <option *ngFor="let i of countSlots">
                            {{i}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="max_slot" class="count_slot_label">Максимальное количество слотов</label>
                    <select class="form-control" name="max_slot"
                            [(ngModel)]="maxSlotsCount" #maxSlots="ngModel" (ngModelChange)="onMaxSlotChange($event)">
                        <option *ngFor="let i of countSlots">
                            {{i}}
                        </option>
                    </select>
                </div>

            </div>
        </div>
    </ng-template>
</ngb-tab>

</ngb-tabset>