<ngb-tabset>
<ngb-tab *ngFor="let time of timeArr" title={{time}}>
    <ng-template ngbTabContent>
        
            <form>
                <div class="form-group col-sm-6">
                    <label for="min_slot">Минимальное количество слотов</label>
                    <select class="form-control" name="min_slot"
                            [(ngModel)]="minSlotsCount" #minSlots="ngModel" (ngModelChange)="onModelChange()">
                        <option *ngFor="let i of countSlots">
                            {{i}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="max_slot">Максимальное количество слотов</label>
                    <select class="form-control" name="max_slot"
                            [(ngModel)]="maxSlotsCount" #maxSlots="ngModel">
                        <option *ngFor="let i of countSlots">
                            {{i}}
                        </option>
                    </select>
                </div>

            </form>
            
       
    </ng-template>
</ngb-tab>

</ngb-tabset>